# Loading Data

In [9]:
import pandas as pd

df_students = pd.read_csv("students.txt", sep=",", header=None,names=["StLastName", "StFirstName", "Grade", "Classroom","Bus", "GPA", "TLastName", "TFirstName"])

print(df_students.info())
df_students.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StLastName   60 non-null     object
 1   StFirstName  60 non-null     object
 2   Grade        60 non-null     int64
 3   Classroom    60 non-null     int64
 4   Bus          60 non-null     int64
 5   GPA          60 non-null     float64
 6   TLastName    60 non-null     object
 7   TFirstName   60 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 3.9+ KB
None

    StLastName StFirstName  Grade  Classroom  Bus   GPA TLastName TFirstName
0       COOKUS        XUAN      3        107   52  3.07    FAFARD      ROCIO
1  SCHOENECKER      PHUONG      6        109    0  3.15   GAMBREL        JAE
2     ELHADDAD      SHANTE      3        107   52  2.86    FAFARD      ROCIO
3    RACANELLO        NOEL      6        102   56  3.13     KERBS     BENITO
4      WOOLERY       NOLAN      2        104   51  2.92     STEIB       GALE

# Data Cleaning

In [10]:
# Convert Grade, Classroom, and Bus into categorical variables
df_student['Grade'] = df_student['Grade'].astype('category')
df_student['Classroom'] = df_student['Classroom'].astype('category')
df_student['Bus'] = df_student['Bus'].astype('category')
df_student.info()

NameError: name 'df_student' is not defined

# S[tudent]: <lastname> B[us] Implentation

In [1]:
def findStudents(lastname: str, bus=False):
    df_found = df_students[df_students["StLastName"] == lastname]
    
    if df_found.empty:
        return
    else:
        for _, row in df_found.iterrows():
            if bus:
                print(f"{row["StFirstName"]} {row["StLastName"]}, who takes bus route {row["Bus"]}.")
            else:
                print(f"{row["StFirstName"]} {row["StLastName"]} is a {row["Grade"]} student assigned to the class of {row["TFirstName"]}, {row["TLastName"]}")

# T[eacher]: Implementation

In [7]:
def findTStudents(lastname: str):
    df_found = df_students[df_students["TLastName"] == lastname]

    if df_found.empty:
        return
    else:
        # '_' means ignore index
        for _, row in df_found.iterrows():
            print(f"{row["StFirstName"]} {row["StLastName"]} is assigned to the class of {row["TFirstName"]} {row["TLastName"]}.")

# G[rade]: Implementation

In [8]:
def findGStudents(number: int, low=False, high=False):
    df_found = df_students[df_students["Grade"] == number]

    if df_found.empty:
        return
    else:
        if not low and not high:
            # '_' means ignore index
            for _, row in df_found.iterrows():
                print(f"{row["StFirstName"]} {row["StLastName"]} is in grade {row["Grade"]}.")
        elif low:
            # Row number of lowest GPA
            min = df_found["GPA"].idxmin()
            print(f"{df_found.loc[min, "StFirstName"]} {df_found.loc[min, "StLastName"]}, "
            f"who takes bus route {df_found.loc[min, "Bus"]}, is assigned to the class of "
            f"{df_found.loc[min, "TFirstName"]} {df_found.loc[min, "TLastName"]}. {df_found.loc[min, "StFirstName"]} "
            f"has a GPA of {df_found.loc[min, "GPA"]}.")
        elif high:
            # Row number of highest GPA
            max = df_found["GPA"].idxmax()
            print(f"{df_found.loc[max, "StFirstName"]} {df_found.loc[max, "StLastName"]}, "
            f"who takes bus route {df_found.loc[max, "Bus"]}, is assigned to the class of "
            f"{df_found.loc[max, "TFirstName"]} {df_found.loc[max, "TLastName"]}. {df_found.loc[max, "StFirstName"]} "
            f"has a GPA of {df_found.loc[max, "GPA"]}.")

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (4219210382.py, line 13)

# A[verage] Implementation

In [ ]:
def findTStudents(number: str):
    df_found = df_students[df_students["Grade"] == number]

    if df_found.empty:
        return
    else:
        total = 0
        num_rows = len(df_found.index)
        # '_' means ignore index
        for _, row in df_found.iterrows():
            total += row["GPA"]
        avg = total / num_rows
        # .2f formats to 2 decimal places
        print(f"Grade %d has average GPA of %.2f." % (number, avg))